body {
  font-family: Arial, sans-serif;
  background-color: #0e0e0e;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 120px;
}

#vscode {
  font-weight: 250px;
  padding-left: 0px;
}

#navbar_img {
  width: 25px;
}

.toplink {
  color: white;
  padding-left: 20px;
  cursor: pointer;
}

.nav_right {
  margin-right: 10px;
}
